<% provide(:title, @pin.title) %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
    	<div class="panel-heading">
            <h2><%= @pin.title %></h2>
      </div>
      <div class="panel-body">
        <div class="center"><p><%= image_tag @pin.image.url(:medium) %></p></div><br/>
        <p>Geplaatst door <strong><%= @pin.user.username if @pin.user %></strong> op <%= @pin.created_at.strftime("%d/%m/%Y") %> om <%= @pin.created_at.strftime("%H:%M") %></p>
        <div class="center"><p><%= (@pin.description).html_safe %></p></div>
        <% @pin.tags.any? %>
          <% @pin.tags.each do |tag| %>
            <span class="label label-primary">
              <%= link_to tag.name, tag_path(tag.name) %>
            </span>  
          <% end %><br>
        <% if current_user && @pin.user == current_user %>
         <%= link_to edit_pin_path(@pin) do %>
           <span class="glyphicon glyphicon-edit"></span>
             Edit | 
          <% end %>
        <% end %>
        <%= link_to 'Back', pins_path %>
      </div>
    </div>
  </div>
</div>